<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/admin/images/icon.png">
    <link href="/static/admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/admin/css/animate.min.css" rel="stylesheet">
    <link href="/static/admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="../../../../../../hekai/首页Desktop/wap.js"></script>
</head>
<body>

<form action="" method="post">
    {foreach name="info" item="v"}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="form-horizontal m-t">
            <div class="form-group">
                <label class="col-sm-2 control-label" style="width: 35%;">姓名：</label>
                <div class="col-sm-8" style="width: 20%;">
                    <p class="form-control-static" style="width: 20%;">{$v.m_name}</p>
                </div>
                <label class="col-sm-2 control-label">会员号码：</label>

                    <p class="form-control-static">{$v.m_user}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" style="width: 35%;">充值累计：</label>
                <div class="col-sm-8" style="width: 20%;">
                    <p class="form-control-static" style="width: 20%;">{$v.m_sum_money}</p>
                </div>
                <label class="col-sm-2 control-label">当前代理为：</label>

                <p class="form-control-static">
                    {switch name="$v.m_agent" }
                    {case value="1" }县级代理{/case}
                    {case value="2"}市级代理{/case}
                    {case value="3"}省级代理{/case}
                    {case value="4"}股东{/case}
                    {default /}还没有升级为代理
                    {/switch}


                   </p>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" style="width: 35%;">手机号码：</label>
                <div class="col-sm-8" style="width: 20%;">
                    <p class="form-control-static" style="width: 20%;">{$v.m_mobile}</p>
                </div>
                <label class="col-sm-2 control-label">出生日期：</label>

                <p class="form-control-static">{$v.m_birthday}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" style="width: 35%;">所在地址：</label>
                <div class="col-sm-8" style="width: 20%;">
                    <p class="form-control-static" style="width: 80%;">{$v.m_address}</p>
                </div>
                <label class="col-sm-2 control-label">银行名称：</label>

                <p class="form-control-static">{$v.m_bank_nickname}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" style="width: 35%;">银行卡号：</label>
                <div class="col-sm-8" style="width: 20%;">
                    <p class="form-control-static" style="width: 20%;">{$v.m_bank_card}</p>
                </div>
                <label class="col-sm-2 control-label">开户行：</label>

                <p class="form-control-static">{$v.m_bank_address}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" style="width: 35%;">银行开户人名字：</label>
                <div class="col-sm-8" style="width: 20%;">
                    <p class="form-control-static" style="width: 20%;">{$v.m_bank_name}</p>
                </div>
                <label class="col-sm-2 control-label">微信号：</label>

                <p class="form-control-static">{$v.m_wx}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" style="width: 35%;">支付宝号码：</label>
                <div class="col-sm-8" style="width: 20%;">
                    <p class="form-control-static" style="width: 20%;">{$v.m_alipay}</p>
                </div>

                <label class="col-sm-2 control-label">推荐人：</label>
                  {if condition="$z eq  NULL "}

                {else /}
                <p class="form-control-static">{$z.m_user}【{$z.m_mobile}】</p>
                {/if}
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" style="width: 35%;">身份证号码：</label>
                <div class="col-sm-8" style="width: 20%;">
                    <p class="form-control-static" style="width: 20%;">{$v.m_id_card}</p>
                </div>

            </div>
            {if condition="$list eq 1"}

            {else /}
            <div class="form-group">

                <label class="col-sm-2 control-label" style="width: 60%;"><a href="javascript:history.back()"><button class="btn btn-primary" type="button"  style="width: 20%;">返回</button></a></label>
            </div>

        </div>
        {/if}

    </div>


                                                {/foreach}

</form>

<div class="gohome">

</div>
<script src="/static/admin/js/jquery-1.8.2.min.js"></script>
<script src="/static/admin/layer/layer.js"></script>

<script src='/static/admin/js/laydate/laydate.js'></script>
<script type="text/javascript">

</script>
</body>
</html>
